decorator
numpy
pandas
pyarrow
spacy
google-cloud-storage
azure-storage-blob
natsort
pyspellchecker
spacy-spanish-lemmatizer
gensim
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.0.0/es_core_news_sm-3.0.0-py3-none-any.whl
